:root {
    --button-bg-color: skyblue;
}

.startingButton, button {
    margin: 2%;
    background-color: var(--button-bg-color);
}

.submitButton {
    margin-top: 1%;
    margin-left: 1%;
    background-color: var(--button-bg-color);
}

#doneCustomSetup{
    background-color: var(--button-bg-color);
    margin-top: 8%;
}   

#editStockButton, #renameProductButton, #removeProductButton {
    background-color:  var(--button-bg-color);
}

#toggleProductView {
    font-size: .8em;
    background-color: var(--button-bg-color);
}

#toggleAllDetails {
    background-color: var(--button-bg-color);
}