a {
    display: block;
    margin-bottom: 5%;
    padding: 1%;
    text-decoration: underline;
}

#addProductButton {
    margin-top: 5%;
}

#clearInventoryButton {
    background-color: rgb(223, 148, 163);
    padding: 0.1em 1em;
    font-size: small;
    max-width: 30%;
    height: 80%;
    align-self: center;
}

#inventoryCommands {
    display: flex;
    justify-content: space-around;
    border: 1px  black groove;
    max-width: 50%;
    min-width: fit-content;
    margin: auto;
    margin-bottom: 5%;
}
