a {
    display: block;
    margin-bottom: 5%;
    padding: 1%;
}

#addProductButton {
    margin-top: 5%;
}

#clearInventoryButton {
    background-color: rgb(223, 148, 163);
    padding: 1px;
    font-size: smaller;
    max-width: 25%;
    height: 80%;
    align-self: center;
}

#inventoryCommands {
    display: flex;
    justify-content: space-around;
    border: 1px  black groove;
    max-width: 50%;
    min-width: fit-content;
    margin: auto;
    margin-bottom: 5%;
}
